.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: square;
}

.body {
  background-color: #eafeff;
  font-family: 'PT Mono', sans-serif;
  color: #000;
}

.body.mail {
  background-color: #323e51;
  color: #eafeff;
}

.main {
  width: 100vw;
  height: auto;
  padding-bottom: 20px;
}

.container {
  height: 100%;
  max-width: 1150px;
}

.heading {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.heading-2 {
  padding-top: 30px;
}

.heading-2.h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 600;
}

.li-item {
  margin-top: 35px;
  margin-bottom: 35px;
  list-style-type: decimal;
}

.list {
  margin-top: 20px;
}

.im-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-top: 1px none #000;
}

.image {
  width: 200px;
  margin-left: 40px;
  border: 1px solid #000;
  border-radius: 10px;
}

.button {
  margin-top: 20px;
  margin-left: 0px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
}

.button.footer-button {
  margin-top: 0px;
  padding: 9px 15px;
  border-radius: 5px;
  background-color: #323e51;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-size: 14px;
}

.button.footer-button:hover {
  background-color: #eafeff;
  color: #292929;
}

.button.try-button {
  margin-top: 0px;
  padding: 10px 15px;
  background-color: #3898ec;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
}

.button.try-button:hover {
  background-color: #eafeff;
  color: #292929;
}

.button.try-button.choose_btn {
  border-radius: 3px;
}

.button.modal-buttton {
  margin-top: 20px;
  padding: 9px 16px;
  border-radius: 2px;
  -webkit-transition: color 400ms ease, background-color 400ms ease;
  transition: color 400ms ease, background-color 400ms ease;
}

.button.modal-buttton:hover {
  background-color: #fff;
  color: #292929;
}

.button.modal-buttton.den-modal-btn {
  display: none;
}

.button.modal-buttton.on-site {
  margin-top: 0px;
  padding: 6px 13px;
  background-color: rgba(190, 194, 197, 0.6);
  color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
}

.button.modal-buttton.on-site:hover {
  color: rgba(0, 0, 0, 0.6);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.peer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  padding: 15px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  color: #292929;
}

.italic-text {
  color: #6bc975;
  font-weight: 400;
  text-decoration: underline;
}

.text-span {
  text-decoration: underline;
}

.paragraph {
  padding-top: 10px;
  color: #b25c5c;
}

.text-block {
  position: absolute;
  left: 1%;
  top: 2%;
  right: auto;
  bottom: auto;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #6bc975;
  color: #000;
  font-style: italic;
  font-weight: 400;
}

.text-span-2 {
  color: #0c6325;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100vw;
  background-color: #323e51;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.nav-menu {
  font-weight: 500;
}

.intro {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: #29364d;
  color: #fff;
}

.tariffs {
  width: 100vw;
  height: auto;
  min-height: 700px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #323e51;
  color: #fff;
}

.bennefits {
  position: relative;
  width: 100vw;
  height: auto;
  margin-bottom: 30px;
}

.footer {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #292929;
  color: #eafeff;
}

.footer-container {
  height: 200px;
  max-width: 1250px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-text {
  font-size: 16px;
  font-weight: 500;
}

.tab {
  margin-right: 15px;
  margin-left: 15px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #d9ddb6;
  -webkit-transition: background-color 400ms ease, box-shadow 400ms ease;
  transition: background-color 400ms ease, box-shadow 400ms ease;
}

.tab:hover {
  background-color: #7fd678;
  box-shadow: 1px 1px 5px 1px hsla(0, 0%, 100%, 0.6);
}

.tab.w--current {
  background-image: linear-gradient(135deg, #8bb7c7, hsla(0, 0%, 100%, 0.5));
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  color: #000;
  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
}

.main-heading {
  margin-top: 22px;
  margin-bottom: 22px;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.1px;
}

.text-span-3 {
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
}

.tab-content {
  margin-top: 25px;
}

.grid {
  padding: 9px;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-3 {
  color: #fff;
}

.content-center {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.main-p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
}

.image-2 {
  width: 30px;
  height: 30px;
}

.main-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 25px;
}

.outter-button {
  border: 2px solid #3898ec;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: color 400ms ease, background-color 400ms ease;
  transition: color 400ms ease, background-color 400ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #eafeff;
  font-weight: 700;
}

.outter-button:hover {
  border-radius: 2px;
  background-color: #3898ec;
  color: #fff;
}

.iner-button {
  border: 2px solid #3898ec;
  border-radius: 2px;
  background-color: #3898ec;
  -webkit-transition: color 400ms ease, background-color 400ms ease;
  transition: color 400ms ease, background-color 400ms ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.iner-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #afd2f0;
}

.text-span-4 {
  letter-spacing: 2px;
}

.central-heading {
  margin: 35px;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
}

.intro-image {
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-block-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

.grid-2 {
  height: auto;
  max-width: none;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-image {
  width: 120px;
}

.heading-3 {
  text-align: center;
}

.paragraph-2 {
  margin-top: 5px;
  text-align: center;
}

.slider {
  display: none;
}

.about {
  padding-bottom: 40px;
}

.tariff-card {
  position: relative;
  width: 360px;
  height: 220px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #292929;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 2px hsla(0, 0%, 50.7%, 0.4);
  color: #fff;
}

.tariff-card.base-tariff {
  border-color: rgba(252, 155, 0, 0.1);
  background-color: rgba(255, 185, 9, 0.1);
}

.tariff-card.pro-tariff {
  border-color: rgba(50, 62, 81, 0.1);
  background-color: rgba(252, 8, 12, 0.1);
}

.tariff-card.form {
  width: 600px;
  height: 300px;
}

.card-tittle {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

.card-tittle.modal-info {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 16px;
}

.card-tittle.modal-info.res_card_tittle {
  display: inline;
  width: auto;
}

.card-tittle.hidden {
  display: none;
}

.tariff-card-button {
  position: absolute;
  left: auto;
  top: auto;
  right: 3%;
  bottom: 5%;
  border: 0px none #3898ec;
  border-radius: 10px;
  -webkit-transition: color 400ms ease, background-color 400ms ease, box-shadow 400ms ease;
  transition: color 400ms ease, background-color 400ms ease, box-shadow 400ms ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.tariff-card-button:hover {
  border-style: none;
  border-width: 0px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  color: #292929;
}

.tariff-card-button.choose_btn {
  padding-right: 18px;
  padding-left: 18px;
}

.tariff-text {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 3px 7px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
}

.tariff-text.price-text {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 5%;
  font-size: 18px;
  line-height: 22px;
}

.price-wrapper {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
  background-color: #b9ddb6;
  color: #292929;
}

.tariff-info {
  position: absolute;
  left: auto;
  top: 2%;
  right: 2%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 5px;
}

.tariff-info.modal-info {
  position: static;
}

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
  margin-left: 0px;
  padding: 1px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 5px;
  border-radius: 3px;
  background-color: #a7ccda;
}

.block.traffic {
  margin-right: 0px;
  background-color: #c4badf;
}

.block.traffic.modal-money {
  background-color: #b9ddb6;
}

.block.traffic.money {
  background-color: #b9ddb6;
}

.block.m-person {
  margin-right: 0px;
}

.span {
  color: #292929;
  font-size: 20px;
}

.span.m-span {
  font-size: 16px;
}

.span.peers_amount {
  font-size: 18px;
}

.span.gb_amount {
  font-size: 18px;
}

.image-4 {
  width: 20px;
}

.image-4.m-image {
  width: 16px;
}

.image-5 {
  width: 20px;
}

.image-5.m-image-2 {
  width: 16px;
}

.tariff-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 320px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input {
  width: 240px;
  border-radius: 5px;
  color: #292929;
}

.input.hidden-input {
  display: none;
}

.div-block-4 {
  display: -ms-grid;
  display: grid;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 30px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-5 {
  line-height: 40px;
}

.footer-logo {
  position: absolute;
  left: auto;
  top: auto;
  right: 1%;
  bottom: 2%;
  width: 220px;
}

.text-block-5 {
  position: absolute;
  left: 1%;
  top: auto;
  right: auto;
  bottom: 2%;
  max-width: 1000px;
  color: azure;
  font-size: 12px;
}

.form-3 {
  position: static;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-size: 14%;
}

.grid-5 {
  margin-top: 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.success-message {
  background-color: transparent;
}

.text-block-6 {
  color: #6bc975;
  font-size: 20px;
  line-height: 30px;
}

.text-block-7 {
  color: #b25c5c;
}

.error-message {
  background-color: transparent;
}

.text-block-8 {
  width: 300px;
  color: #b25c5c;
}

.error-message-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -10%;
  background-color: transparent;
}

.success-message-2 {
  background-color: transparent;
}

.text-block-9 {
  color: #6bc975;
  font-size: 20px;
  line-height: 30px;
}

.form-block {
  position: relative;
}

.field-label {
  font-size: 14px;
}

.field-label-2 {
  font-size: 14px;
}

.modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 17, 14, 0.8);
}

.modal-card {
  position: relative;
  width: 620px;
  height: 430px;
  border-radius: 10px;
  background-color: #292929;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
  color: #eafeff;
}

.heading-6 {
  text-align: center;
}

.paragraph-3 {
  margin-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #979797;
}

.paragraph-3.p-top {
  margin-top: 15px;
  color: #eafeff;
}

.paragraph-3.p-button {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.form-4 {
  display: -ms-grid;
  display: grid;
  padding-right: 20px;
  padding-left: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.heading-7 {
  display: inline;
  font-weight: 400;
}

.div-block-6 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-6 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 35px;
  max-width: none;
  color: #eafeff;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.error-message-3 {
  padding: 10px 0px 0px 10px;
  background-color: transparent;
}

.text-block-10 {
  text-align: center;
}

.success-message-3 {
  background-color: transparent;
  font-size: 20px;
  line-height: 30px;
}

.order_id {
  display: none;
  color: #292929;
}

.text-block-11 {
  color: rgba(99, 99, 99, 0.8);
  text-align: center;
}

.link {
  position: static;
  left: auto;
  top: 27%;
  right: 2%;
  bottom: auto;
  color: #eafeff;
}

.div-block-8 {
  position: absolute;
  left: auto;
  top: 26%;
  right: 2%;
  bottom: auto;
}

.hidden-help-data {
  display: none;
  color: #292929;
}

.peer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link-2 {
  color: #3898ec;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 760px;
  }

  .im-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .button.try-button {
    padding: 8px 14px;
  }

  .div-block {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .peer {
    max-width: 700px;
  }

  .footer-container {
    height: 220px;
    max-width: 760px;
    padding-right: 6px;
    padding-left: 6px;
  }

  .tab-text {
    text-align: center;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .intro-image {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .grid-2 {
    padding-right: 5px;
    padding-left: 5px;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .b-image {
    width: 80px;
  }

  .heading-3 {
    font-size: 22px;
    line-height: 28px;
  }

  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-5 {
    text-align: center;
  }

  .text-block-5 {
    max-width: 600px;
  }

  .text-block-8 {
    background-color: transparent;
  }

  .error-message-2 {
    right: -15%;
    background-color: transparent;
  }

  .modal-card {
    height: 430px;
  }

  .error-message-3 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 560px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .li-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button {
    text-align: center;
  }

  .intro {
    display: block;
  }

  .tariffs {
    padding-bottom: 30px;
  }

  .footer-container {
    height: 300px;
    max-width: 560px;
  }

  .main-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .grid {
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .central-heading {
    font-size: 40px;
  }

  .intro-image {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .grid-2 {
    grid-column-gap: 35px;
  }

  .b-card {
    width: 250px;
  }

  .b-image {
    width: 60px;
  }

  .heading-3 {
    font-size: 18px;
  }

  .tariff-card {
    width: 420px;
  }

  .tariff-card.form {
    width: 500px;
    height: 330px;
  }

  .card-tittle {
    line-height: 25px;
  }

  .card-tittle.modal-info.res_card_tittle {
    font-size: 15px;
  }

  .tariff-card-button {
    bottom: 5%;
  }

  .tariff-form {
    height: auto;
    padding-bottom: 13px;
  }

  .input {
    width: 180px;
  }

  .div-block-4 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-column-gap: 30px;
    -ms-grid-columns: 1fr 1.25fr;
    grid-template-columns: 1fr 1.25fr;
  }

  .text-block-5 {
    max-width: 400px;
  }

  .form-3 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .grid-5 {
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .text-block-7 {
    width: 250px;
  }

  .text-block-8 {
    display: inline-block;
    width: auto;
  }

  .error-message-2 {
    left: auto;
    top: 55%;
    right: 5%;
    bottom: auto;
    width: 250px;
  }

  .modal-card {
    width: 500px;
  }

  .form-4 {
    grid-row-gap: 5px;
  }

  .heading-7 {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
  }

  .div-block-6 {
    grid-row-gap: 5px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-8 {
    top: 40%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 350px;
    padding-right: 2px;
    padding-left: 2px;
  }

  .heading-2.h2 {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .li-item {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .image {
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .button {
    margin-top: 5px;
    padding: 7px 5px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
  }

  .button.try-button {
    padding-top: 5px;
  }

  .button.modal-buttton {
    display: none;
    overflow: visible;
    width: 200px;
    height: auto;
    margin-top: 10px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .button.modal-buttton.den-modal-btn {
    display: block;
    width: auto;
    margin-top: 15px;
  }

  .button.modal-buttton.on-site {
    display: block;
  }

  .div-block {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .peer {
    padding: 5px 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    padding: 2px 3px;
    font-size: 12px;
  }

  .nav-menu {
    background-color: #323e51;
  }

  .intro {
    display: block;
  }

  .footer-container {
    height: 455px;
    max-width: 350px;
  }

  .tabs-menu {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .tab {
    display: block;
    margin: 3px 0px;
    padding: 9px 3px;
  }

  .main-heading {
    font-size: 30px;
    line-height: 40px;
  }

  .main-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  .central-heading {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 35px;
  }

  .intro-image {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: auto;
  }

  .grid-2 {
    display: none;
  }

  .b-card {
    width: auto;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .b-image {
    width: 80px;
  }

  .paragraph-2 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .slider {
    display: block;
    width: 100%;
    background-color: transparent;
  }

  .icon {
    margin-left: 10px;
    color: #292929;
    font-size: 30px;
  }

  .icon-2 {
    margin-right: 10px;
    color: #292929;
    font-size: 30px;
  }

  .tariff-card {
    width: 320px;
    height: 280px;
  }

  .tariff-card.form {
    width: 340px;
    height: 530px;
  }

  .card-tittle {
    width: auto;
    margin-top: 40px;
    text-align: center;
  }

  .card-tittle.modal-info {
    margin-top: 0px;
    font-size: 18px;
  }

  .tariff-card-button {
    right: 3%;
  }

  .tariff-card-button.new-button {
    bottom: 2%;
  }

  .tariff-text.price-text {
    bottom: 5%;
    font-size: 16px;
    line-height: 20px;
  }

  .tariff-info {
    width: 100%;
    padding-right: 9px;
    padding-left: 9px;
  }

  .tariff-info.modal-info {
    margin-top: 5px;
  }

  .block {
    margin-left: 5px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .block.traffic {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-right: 5px;
    clear: none;
  }

  .block.traffic.modal-traffic {
    position: static;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .block.traffic.modal-money {
    position: static;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .block.traffic.money {
    right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .block.traffic.money.query {
    right: 145px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .block.m-person {
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .span.money.q {
    font-size: 20px;
    line-height: 20px;
  }

  .span.peers_amount {
    font-size: 16px;
  }

  .span.gb_amount {
    font-size: 16px;
  }

  .image-4 {
    width: 18px;
  }

  .image-5 {
    width: 18px;
  }

  .input {
    width: 300px;
  }

  .input.modal-input {
    width: 300px;
  }

  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .form-2 {
    grid-row-gap: 10px;
  }

  .heading-5 {
    margin-top: 0px;
  }

  .footer-logo {
    right: 20%;
  }

  .text-block-5 {
    bottom: 11%;
    max-width: none;
    text-align: center;
  }

  .form-3 {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .grid-5 {
    margin-top: 12px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .slide-nav {
    padding-top: 20px;
  }

  .success-message {
    background-color: transparent;
  }

  .text-block-6 {
    color: #6bc975;
    font-size: 20px;
    line-height: 30px;
  }

  .text-block-7 {
    width: 150px;
    margin-top: -21px;
    padding-top: 0px;
  }

  .error-message {
    background-color: transparent;
  }

  .text-block-8 {
    color: #b25c5c;
  }

  .error-message-2 {
    left: 0%;
    top: -20%;
    right: 0%;
    bottom: auto;
    width: 330px;
    text-align: right;
  }

  .text-block-9 {
    color: #6bc975;
  }

  .modal-card {
    width: 340px;
    height: 560px;
  }

  .heading-6 {
    margin-top: 25px;
    font-size: 33px;
    line-height: 40px;
  }

  .paragraph-3.p-top {
    display: none;
    margin-bottom: 20px;
  }

  .paragraph-3.p-button {
    bottom: -1%;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .form-4 {
    justify-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .heading-7 {
    font-weight: 400;
  }

  .div-block-6 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .div-block-7 {
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .error-message-3 {
    padding-top: 3px;
  }

  .text-block-10 {
    background-color: transparent;
    color: #b25c5c;
  }

  .form-block-2 {
    color: #eafeff;
  }

  .text-block-12 {
    color: #6bc975;
  }

  .div-block-8 {
    top: 70%;
    right: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

#w-node-_40373df5-4bfe-a8a1-ee94-9828cd9b7fd5-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_0da4645f-3ddd-eb99-9d77-96e8884fcd76-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_01b1de9d-0859-36df-abed-f0d1088fd149-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_2a643bf3-f200-5c79-a2ef-30756652ef2a-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_49a6e2bb-31f8-4bed-5804-0c6513b39578-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_49a6e2bb-31f8-4bed-5804-0c6513b3957a-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_49a6e2bb-31f8-4bed-5804-0c6513b3957c-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_49a6e2bb-31f8-4bed-5804-0c6513b3957e-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf25-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf27-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf29-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf2b-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_83352f89-584c-7247-ffed-315eef50a788-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_83352f89-584c-7247-ffed-315eef50a78a-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_83352f89-584c-7247-ffed-315eef50a78c-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_83352f89-584c-7247-ffed-315eef50a78e-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcac-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcae-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcb0-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcb2-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_969778c6-6516-a89b-8605-4f837888e162-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_969778c6-6516-a89b-8605-4f837888e164-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_969778c6-6516-a89b-8605-4f837888e166-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_969778c6-6516-a89b-8605-4f837888e168-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_4d4cacd2-b98f-e4cd-df71-41d54084406a-598ca48c {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_4d4cacd2-b98f-e4cd-df71-41d54084406c-598ca48c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_4d4cacd2-b98f-e4cd-df71-41d54084406e-598ca48c {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_4d4cacd2-b98f-e4cd-df71-41d540844070-598ca48c {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_7215b879-ec71-63c6-6620-538eff40b20d-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-afd1ca1a-2bac-820a-ff40-b6e86079d3e7-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_62e0165f-fe9a-2b25-0f84-64e9fe7e250c-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_73066f0d-c21b-c0d2-d0c6-e3bb87373551-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_285503f8-df11-6e3f-eb42-4b651bd6a9c7-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_394b68d9-21ed-787d-ebc7-7aa1c12c31f4-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_78d994a1-9a0b-532b-b760-72e1c2983918-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_307740ec-93e6-67bd-6362-8133ebeb8390-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4eb093d1-c10c-1808-3f21-4c76001fe202-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_06c33b19-7ead-e984-57e7-80ee5d2874f5-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d6d3826b-07c8-05b0-ba8a-87a1d7121944-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3c06e21e-56e6-3b9c-4445-3e1b05598f49-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_947cf2df-9e7b-12f6-6784-c544315b3413-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_267306af-7f3e-a80b-f380-375fc1b95622-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_782ccbd8-1de1-8c9e-5c87-8aecee129a65-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1f1dd8e2-e27f-a7de-01b0-3699b88f725f-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0ac5afdb-0774-97d4-f9ad-9b67d7a4a0ab-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fbdae780-9f54-d584-3612-5a87e25906f2-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_421e0ef8-4c7a-d2a6-97bf-fce86f6f2284-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0364d739-0c96-32c9-7a4f-a60331e05d70-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7fcec4ad-bb18-6534-ae92-c77d62bf4693-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_85084226-2214-9fad-2d31-3a96ceaad721-93faf9c8 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2fd686d2-ec5e-5767-a0c8-205c3ce568c9-93faf9c8 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7fcec4ad-bb18-6534-ae92-c77d62bf469b-93faf9c8 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f2505c7b-ce20-65b5-c48b-a63e67f11d23-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_638dd4d3-e3ea-bb72-b320-a88728a223b5-93faf9c8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_694389bf-cfce-ab0a-eab8-479e23bfcc57-93faf9c8 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_35fcf92f-acba-c70e-c1d1-8f4ca07ba021-93faf9c8 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#on_tg.w-node-_99f58e82-10ba-2124-2925-b944bf8bd556-93faf9c8 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

#w-node-a5e2ba12-b52a-ac61-09bc-7fc2dcee1e3b-93faf9c8 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_4c133ae6-13d7-d475-d34b-6ff3a5fc6dc2-93faf9c8 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_3d2940ff-15b8-8c4f-7f16-3dd7d162de15-93faf9c8 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#on_site.w-node-_99d5d253-f14f-699a-d0b2-3ddbaec8c07d-93faf9c8 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-_40373df5-4bfe-a8a1-ee94-9828cd9b7fd5-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_49a6e2bb-31f8-4bed-5804-0c6513b39578-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf25-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_83352f89-584c-7247-ffed-315eef50a788-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcac-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_969778c6-6516-a89b-8605-4f837888e162-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_4d4cacd2-b98f-e4cd-df71-41d54084406a-598ca48c {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_85084226-2214-9fad-2d31-3a96ceaad721-93faf9c8 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_2fd686d2-ec5e-5767-a0c8-205c3ce568c9-93faf9c8 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_7fcec4ad-bb18-6534-ae92-c77d62bf469b-93faf9c8 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-a5e2ba12-b52a-ac61-09bc-7fc2dcee1e3b-93faf9c8 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_40373df5-4bfe-a8a1-ee94-9828cd9b7fd5-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_49a6e2bb-31f8-4bed-5804-0c6513b39578-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_8f70c4fd-95f5-338e-aeaf-b4e75e63cf25-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_83352f89-584c-7247-ffed-315eef50a788-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_9cb7818a-05b6-fd1c-45a9-b1786b04dcac-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_969778c6-6516-a89b-8605-4f837888e162-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_4d4cacd2-b98f-e4cd-df71-41d54084406a-598ca48c {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }

  #w-node-_85084226-2214-9fad-2d31-3a96ceaad721-93faf9c8 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_2fd686d2-ec5e-5767-a0c8-205c3ce568c9-93faf9c8 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_7fcec4ad-bb18-6534-ae92-c77d62bf469b-93faf9c8 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_694389bf-cfce-ab0a-eab8-479e23bfcc57-93faf9c8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_35fcf92f-acba-c70e-c1d1-8f4ca07ba021-93faf9c8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #on_tg.w-node-_99f58e82-10ba-2124-2925-b944bf8bd556-93faf9c8 {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_8485118f-9d85-6016-6905-654c48d162f5-93faf9c8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-a5e2ba12-b52a-ac61-09bc-7fc2dcee1e3b-93faf9c8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-bb3d3bc4-8c8d-7634-9312-de45d30e62ec-93faf9c8 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_4c133ae6-13d7-d475-d34b-6ff3a5fc6dc2-93faf9c8 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_3d2940ff-15b8-8c4f-7f16-3dd7d162de15-93faf9c8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #on_site.w-node-_99d5d253-f14f-699a-d0b2-3ddbaec8c07d-93faf9c8 {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

